.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    margin-top: 130px;

  }
  .profile-parent {
    display: flex;
    align-items: center;
    color: purple;
  }
  .profile-details-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";
  }
  .profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
  }
  .profile-details-role h1 {
    font-size: 40px;
    font-family: "cursive";
  }
  .primary-text {
    color: (--white);
  }
  .highlighted-text {
    color: var(--dark-orange);
  }
  .profile-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
  }
  
  .profile-options .highlighted-btn {
    margin: 0 0 0 28px;
  }
  
  .profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: purple;
    color: white;
  }
  
  .button:active {
    background-color: purple;
    box-shadow: 0 5px purple;
    transform: translateY(4px);
  }
  
  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90%;
    height: 200px;
    width: 200px;
  }
  .profile-picture-background {
    height: 59%;
    width: 59%;
    box-shadow: 1px 20px 10px -7px var(--purple);
    border-radius: 50%;
    background-image: url("../../../assets/Home/Obi.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  .profile-picture-background:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
  }
  
  .colz .colz-icon i {
    padding: 8px;
    padding-left: 0px;
    height: 25px;
    color: purple;
    font-size: 23px;
  }
  .colz .colz-icon i:hover {
    transform: scale(2.5);
    color: white;
  }





/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .profile-picture {
    margin: -300px 15px 0 80px;
    height: 200px;
    width: 200px;
    margin-left: -10px;
    margin-top: -20px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font: 12px;
  }


  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }

}
@media only screen and (max-width: 910px) {
  .profile-picture {
    margin: -300px 20px 0 -380px;
    height: 200px;
    width: 200px;
    margin-top: 500px;
  }
}



@media only screen and (max-width: 820px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: -40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .proflie-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}


@media only screen and (max-width: 910px) {
  .profile-picture {
    margin: -300px 20px 0 -380px;
    height: 200px;
    width: 200px;
  }
}




@media only screen and (max-width: 375px) {
  .profile-picture {
    margin: 200px 15px 0 780px;
    height: 200px;
    width: 200px;
  }
  .proflie-details {
    width: 95%;
  }
}
  